<div class="modal-header">
  <h4 class="modal-title">Customer</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Close click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">


    <form *ngIf="customerForm" [formGroup]="customerForm" class="form" >
      <div class="form-group">
        <label for="name" >Name</label>
        <input class="form-control" type="text" formControlName="name" id="name">
        <span *ngIf="!customerForm.get('name').valid && customerForm.get('name').touched"
              class="help-block"> Please Enter Name (Minimum 2 Characters)</span>
      </div>
      <div class="form-group">
        <label for="surname" >Surname</label>
        <input class="form-control" type="text" formControlName="surname" id="surname">
        <span *ngIf="!customerForm.get('surname').valid && customerForm.get('surname').touched"
              class="help-block"> Please Enter Surname (Minimum 2 Characters)</span>
      </div>
      <div class="form-group">
        <label for="address" >Address</label>
        <input class="form-control" type="text" formControlName="address" id="address">
        <!--<span *ngIf="!customerForm.get('address').valid && customerForm.get('address').touched"-->
              <!--class="help-block"> Please Enter Surname (Minimum 2 Characters)</span>-->
      </div>
      <div class="form-group">
        <label for="phone" >Telephone Number</label>
        <input class="form-control" type="text" formControlName="phone" id="phone">
        <!--<span *ngIf="!customerForm.get('address').valid && customerForm.get('address').touched"-->
        <!--class="help-block"> Please Enter Surname (Minimum 2 Characters)</span>-->
      </div>

    </form>

  </div>
</div>
<div class="modal-footer">
  <button (click)="activeModal.dismiss(getData())" [disabled]="customerForm.invalid" class="btn btn-primary">Save</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
